Repository UltiMafia/Ultimafia, pull requests merged in 2023-11, with the labels that each got.

#1235 Noveg removed from village core, made game host option
  Games/core/Game.js
  Games/core/Meeting.js
  Games/types/Mafia/roles/cards/VillageCore.js
  db/schemas.js
  modules/redis.js
  react_main/src/components/Popover.jsx
  react_main/src/pages/Play/Host/HostMafia.jsx
  react_main/src/pages/Play/Join.jsx
  routes/game.js
Labels: bug, enhancement, game/core

#1249 added beta wacky words
  Games/types/WackyWords/Action.js
  Games/types/WackyWords/Card.js
  Games/types/WackyWords/Game.js
  Games/types/WackyWords/Item.js
  Games/types/WackyWords/Meeting.js
  Games/types/WackyWords/Player.js
  Games/types/WackyWords/Role.js
  Games/types/WackyWords/Winners.js
  Games/types/WackyWords/data/questions.js
  Games/types/WackyWords/roles/Town/Player.js
  Games/types/WackyWords/roles/cards/ResponseGiver.js
  Games/types/WackyWords/roles/cards/TownCore.js
  Games/types/WackyWords/templates/death.js
  data/constants.js
  data/modifiers.js
  data/roles.js
  react_main/package-lock.json
  react_main/public/images/games.png
  react_main/src/Constants.jsx
  react_main/src/css/roles.css
  react_main/src/css/setup.css
  react_main/src/pages/Game/Game.jsx
  react_main/src/pages/Game/WackyWordsGame.jsx
  react_main/src/pages/Learn/Learn.jsx
  react_main/src/pages/Learn/LearnWackyWords.jsx
  react_main/src/pages/Play/CreateSetup/CreateWackyWordsSetup.jsx
  react_main/src/pages/Play/Host/HostWackyWords.jsx
  react_main/src/pages/Play/Play.jsx
  routes/game.js
  routes/setup.js
Labels: game/other

#1256 feat(wacky words) added reverse mode
  Games/types/WackyWords/Game.js
  Games/types/WackyWords/roles/Town/Alien.js
  Games/types/WackyWords/roles/cards/ResponseGiver.js
  data/roles.js
  react_main/src/css/roles.css
  react_main/src/pages/Learn/LearnWackyWords.jsx
  react_main/src/pages/Play/Host/HostWackyWords.jsx
Labels: game/other

#1257 feat (wacky words): added more prompts (~100)
  Games/types/WackyWords/data/questions.js
Labels: game/other

#1259 Docker stage
  .devcontainer
  .dockerignore
  .vscode/launch.json
  .vscode/tasks.json
  README.md
  docker-compose.yml
  dockerfile
  docs/client_env
  docs/server_env
  docs/setup-EZ-guide.md
  modules/redis.js
  mongo-init.js
  package-lock.json
  pm2.config.js
  pm2.json
  react_main/.gitignore
  react_main/dockerfile
  react_main/package-lock.json
  react_main/package.json
  react_main/src/pages/Auth/LogIn.jsx
  react_main/src/pages/Auth/SignUp.jsx
  routes/auth.js
  routes/user.js
  totalsetup.sh
Labels: documentation, enhancement, EPIC, devops
